@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    color: black;
    background-color: rgb(202, 250, 218);
}

div#interface {
    position: relative;
    width: 700px;
    margin: -22px auto -15px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
    background-color:white;
}

nav#navegacao {
    display: block;
}

nav#navegacao ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    margin: 14px 0px 0px -10px;
    top: 0px;
    background-image: linear-gradient(to top, white,  #7a7979 130%);
    width: 680px;
    font-family: 'Bebas Neue', sans-serif;
}

nav#navegacao li {
    display: inline-block;
    padding: 10px;
    margin: 4px;
    position: relative;
    right: 32px;
    font-weight: 800%;
    font-size: 20pt;
}

nav#navegacao a {
    text-decoration: none;
    color: rgb(62, 150, 62);
}

nav#navegacao a:hover {
    color: rgb(20, 20, 20);
    transition: 1s;
}


img#minhafoto {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    padding: 0px;
    margin-top: 0px;
    max-width: 100%;
}


img#logo-css {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 10px;
    right: 750px;
    transform: rotate(-15deg);
}

img#logo-html {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 250px;
    left: 750px;
    transform: rotate(15deg);
}

img#logo-js {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 500px;
    right: 750px;
    transform: rotate(-15deg);
}

img#logo-python {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 750px;
    left: 750px;
    transform: rotate(15deg);
}

img#logo-nuvem {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 1000px;
    right: 750px;
    transform: rotate(-15deg);
}

section#sec {
    display: inline-block;
    border-top: 0px solid #606060;
    margin: 10px;
}

div#apresentacao {
    border-bottom: 1px solid #606060;
    padding-bottom: 10px;
    margin-top: 60px;
}

h1#nome {
    font-family: "Press Start 2P", sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
}

.conteudo {
    border-top: 1px solid #606060;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

table#tabela {
    width: 450px;
    text-align: center;
    border: 1px solid #7a7979;
    border-spacing: 0px;
    margin-top: 20px;
}

table#tabela td {
    border: 1px solid #8b8b8b;
}

table#tabela td.cole {
    color: white;
    background-color: #8d8b8b;
    font-weight: bolder;
    font-size: 15pt;
}

table#tabela td.cold {
    color: black;
    background-color: #e2f1dc;
}

li {
    text-align: justify;
}

a.paginas {
    text-decoration: none;
    color: #606060;
}

a.paginas:hover {
    text-decoration: underline;
    transition: 1s;
    color: blue;
}

footer#rdp {
    border-top: 1px solid #606060;
    padding: 10px;
}